@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply font-lufga p-6 sm:p-10 my-8 max-w-7xl mx-auto;
  }
}

html, body {
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
}
